.main-content {
    margin-top: 60px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2vw;
    background-color: #ffd300;
    height: 60px;
}

header .logo a {
    color: black;
    font-family: "Caveat", cursive;
}

header li a {
    position: relative;
    color: white;
    z-index: 9999;
    letter-spacing: 2px;
    font-size: clamp(1.25rem, 2vw, 1.5rem);
}

header .logo h1 {
    text-align: left;
    font-size: clamp(1.525rem, 3vw, 2rem);
}

header .form {
    flex-grow: 0.6;
    height: 2.125rem;
    border: 1px solid #fff;
    border-radius: 10px;
    position: relative;
}

header .form .input {
    width: 100%;
    border-radius: 10px;
}

header .form .search-icon {
    border: none;
    outline: none;
    position: absolute;
    right: 0.625rem;
    top: 0.525rem;
    background-color: transparent;
}

header .form input[type="search"] {
    display: block;
    font-size: .75rem;
    border: none;
    padding: 0.625rem 0.875rem;
    width: 100%;
    border-radius: 10px;
}

/* Menu background */
.menu-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    /* 400px */
    background-color: black;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open-hamburger {
    display: block;
    z-index: 1003;
}

header .menu li {
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 9999;
}

header .browser-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;

}

header .browser-menu li a {
    color: #fff;
    text-decoration: none;
}

header .right {
    display: flex;
    align-items: center;
    gap: 18px;
}

/* Styles pour le menu hamburger */

.hamburger-menu li {
    list-style: none;
    cursor: pointer;
}

.menu.active .browser-menu li {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 50px;
}

.menu.active .browser-menu li a:nth-child(2) {
    padding-bottom: 7px;
}

.open-hamburger>svg {
    font-size: 1.5em;
    z-index: 1002;
    color: white;
}

/* Search btn and text */

.search a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
}

.search .icon>svg {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
}

.search a p {
    font-size: 1.2em;
    padding-bottom: 5px;
    font-weight: bold;
}

@media screen and (max-width: 845px) {

    /* Hide search text */
    .search a p {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .menu-background {
        width: 70dvw;
    }

    .browser-menu li a {
        position: relative;
        color: #fff;
    }

    .hamburger-menu li.open-hamburger {
        display: block;
        z-index: 3;
    }

    header .form {
        flex-grow: 0.7;
    }

    header .menu ul {
        gap: 0;
    }

    .hamburger-menu.active>li.close-hamburger>svg {
        color: #fff;
    }

    .account-menu p {
        display: none;
    }

    /* Size Account and hamburger menu for mobile devices */
    .account-menu>svg {
        font-size: 1em;
    }

    /* .open-hamburger>svg {
        font-size: 1.3em;
    } */

    .hamburger-menu {
        z-index: 1003;
        position: relative;
    }

    /*  */
    .hamburger-menu.active::after {
        width: 50vw;
    }

    .account-icon>svg {
        font-size: 1.5em;
    }

    .menu.active .browser-menu li a:nth-child(2) {
        padding-bottom: 5px;
    }
    .search .icon>svg {
        font-size: 1.3em;
    }
}

@media (max-width: 366px) {
    header {
        padding: 5px 1vw;
        gap: 3px;
    }
}