.moovies h2 {
    text-align: left;
    padding-left: 3vw;
    padding-top: 10vh;
    padding-bottom: 3vh;
    font-size: clamp(1.25rem, 2vw, 3rem);
}

.moovies ul {
    padding-left: 3vw;
    padding-right: 3vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.moovies li {
    line-height: 1.5rem;
}

.moovies .card {
    height: 250px;
    width: 200px;
    cursor: pointer;
    position: relative;
}

.moovies .card .add-watchlist {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ffd250;
    color: #333;
    padding: 7px 10px;
    border-radius: 10px;
    font-weight: bold;
    z-index: 0;
}

.moovies .card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.moovies .card .title {
    font-weight: bold;
}

.moovies-container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.moovies .rating {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #333;
    color: white;
    padding: 8px;
    border-radius: 10px;
    font-weight: bold;
}
.rating > svg {
    color: #ffd250 ;
}

/* .moovies li.title {
    display: none;
} */

.moovies-container .right {
    display: none;
}

@media screen and (max-width: 450px) {
    .moovies-container .right {
        align-self: flex-start;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 200px;
    }

    .moovies li {
        color: black;
        font-weight: bold;
        display: block;
        line-height: 1.5rem;
    }
    .moovies .card {
        height: 200px;
        width: 150px;
    }
    .moovies-container .right > span {
        color: black;
        font-size: 14px;
    }
}