/* Reset a tags */
.pagination a {
    text-decoration: none;
}

.pagination a:hover {
    text-decoration: none;
    color: black;
}

.pagination a:active {
    text-decoration: none;
    color: black;
}

.pagination a:focus {
    text-decoration: none;
    color: black;
}

.pagination a:visited {
    text-decoration: none;
    color: black;
}

/* Reset a tags */

.pagination a.active {
    color: red;
}

.pagination ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.pagination a button {
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    color: #000;
    cursor: pointer;
    padding: 8px 16px;
}