/* Reset a tags */
.pagination a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;  /* Appliquez un padding constant */
    border-radius: 50%;  /* Ajoutez le border-radius ici si vous voulez que ce soit toujours rond */
    box-sizing: border-box;  /* S'assure que padding et border sont inclus dans la largeur/hauteur */
}

.pagination a:hover {
    background-color: #f1f1f1;
    /* Pas besoin de répéter text-decoration, color, ou padding ici */
}


.pagination a:active {
    text-decoration: none;
    color: black;
}

.pagination a:focus {
    text-decoration: none;
    color: black;
}

.pagination a:visited {
    text-decoration: none;
    color: black;
}

/* Reset a tags */

.pagination a.active {
    color: #d6d5d5;
}

.pagination ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.pagination a button {
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    color: #000;
    cursor: pointer;
    padding: 8px 16px;
}