.profile-page {
    padding-top: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.profile-container {
    min-width: 60%;
    border: 1px solid rgb(60, 64, 67);
    border-radius: 10px;
}

.profilePicture img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.infos-container {
    width: 100%;
}

.profile-page .row {
    position: relative;
    display: flex;
    align-items: center;
    padding: 18px 24px;
}

.profile-page .row .icon > svg {
    width: 24px;
    height: 24px;
}

.profile-page .row::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 24px;
    height: 1px;
    background-color: rgb(60, 64, 67);
    width: calc(100% - 48px);
}

.profile-page .title, .profile-page .value {
    flex: 0.3;
}

.profile-page .title {
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    /* border: 2px solid blue; */
}

.profile-page .value {
    flex-grow: 0.8;
    display: flex;
    justify-content: flex-start;
    /* border: 2px solid yellow; */
}

.profile-page .icon {
    flex-shrink: 0;
    cursor: pointer;
}

.profilePicture .value p {
    font-size: 14px;
    padding-left: 10px;
}

@media screen and (max-width: 450px) {
    .profile-container {
        width: 90%;
    }  
}
