.series h2 {
    text-align: left;
    padding-left: 5vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.series ul {
    padding-left: 3vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto;
}

.series li {
    line-height: 1.5rem;
}

.series .card {
    padding: 20px;
    height: 250px;
    width: 200px;
}

.series .card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.series .card .title {
    font-weight: bold;
}