.moovie-wrapper {
    padding: 2rem 3rem;
    background-color: #f2f2f2;
    min-height: 100vh;
}

.single-moovies {
    margin-top: 1vh;
    padding-left: 2vw;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
}

.moovie-wrapper .back-btn {
    width: fit-content;
    background-color: #fecc00;
    position: absolute;
    left: 0;
    padding: 5px 10px;
    border-radius: 10px 0 0 0;
}

.moovie-wrapper .back-btn a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 5px;
}

.single-moovies h2 {
    margin: 3rem 0;
    position: relative;
    display: inline-block;
    z-index: 1;
    padding: 0.225em;
}

.movie-infos {
    flex-grow: 1;
}

.single-moovies h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    z-index: -1;
    transition: height 0.3s ease; /* Add transition to the background */
}

.single-moovies h2:hover {
    color: white;
    transition-delay:  0.1s;
}

.single-moovies h2:hover::before {
    height: 100%;
}

.single-moovies .card {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.single-moovies .card .left {
    width: 20%;
}

.single-moovies .card .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.single-moovies .card .right {
   align-self: flex-start;
}

.single-moovies .card .right .first-line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.single-moovies .card .right .second-line .rating {
    border: 1px solid #ececec;
    display: inline-block;
    padding: 1.5rem 0.313rem;
    border-radius: 10px;
}

.single-moovies .card .right .second-line .rating p:first-child {
    font-weight: 700;
    font-size: 0.825rem;
}

.single-moovies .card .right .second-line .rating p:nth-child(2) {
    text-align: center;
    font-family: montserrat,Arial,Sans-Serif;
    font-weight: 800;
    font-size: 1.375rem;
    line-height: 1;
    color: #333;
    margin: 0;
    width: auto;
    order: 0;    
}

.single-moovies .card .right p {
    max-width: 300px;
}

.single-moovies .card .right p:first-child span{
    font-weight: bold;
}

.synopsis {
    margin-top: 2rem;
}

.synopsis h3 {
    position: relative;
    padding-left: 2px;
}

.synopsis h3::after {
    content: '';
    position: absolute;
    top: 0.075rem;
    left: -0.375rem;
    width: 0.3125rem;
    height: 1.25rem;
    background-color: #fecc00;
}

.synopsis p {
    max-width: 70ch;
    padding-top: 20px;
}

.single-moovies .card .add-watchlist {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ffd250;
    color: #333;
    padding: 7px 10px;
    border-radius: 10px;
    font-weight: bold;
    z-index: 0;
    cursor: pointer;
}

.video h3 {
    margin: 2rem 0;
    position: relative;
    padding-left: 2px;
}

.video iframe {
    width: 50vw; /* 80% de la largeur de la fenêtre */
    height: 35vw; /* Maintenir un ratio 16:9 */
  }
  

.video h3::after {
    content: '';
    position: absolute;
    top: 0.075rem;
    left: -0.375rem;
    width: 0.3125rem;
    height: 1.25rem;
    background-color: #fecc00;
}

.reviews h3 {
    padding-top: 15px;
}

.review {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 10px;
}

.review > p {
    max-width: 70ch;
}

.review > a {
    font-weight: 600;
    color: #fecc00;
    width: fit-content;
}

.review > a:hover {
    font-weight: 600;
    color: black;
}

.review .first-line {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (min-width: 453px) and (max-width: 889px) {
    /* Styles à appliquer pour les résolutions d'écran entre 453px et 889px */
    .moovie-wrapper {
        padding: 4rem 2rem;
    }
    .single-moovies .card .left {
        width: 50%;
    }
  }
  
 @media screen and (max-width: 450px) {
    .moovie-wrapper {
        padding: 5rem 1rem;
    }
    .single-moovies .card .left {
        width: 100%;
    }
    .single-moovies .card {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }
    .single-moovies .card .right .first-line {
        padding-top: 10px;
        padding-bottom: 10px;
        flex-direction: column;
        align-items: flex-start;
    }
    .video iframe {
        width: 80vw;
        height: 45vw; 
      }
 }