.trailers h2 {
    text-align: left;
    padding-left: 5vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.trailers ul {
    padding-left: 3vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 0;
}

.trailers li {
    line-height: 1.5rem;
}

.trailers .card {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.trailers .card iframe {
    border: 0;
    outline: none;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.trailers .card .title {
    font-weight: bold;
}