.watchlist {
    min-height: 100vh;
}

.watchlist h2 {
    text-align: left;
    padding-left: 5vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: clamp(1.25rem, 2vw, 3rem);
}

.watchlist ul {
    padding-left: 5vw;
}

.watchlist ul a {
    width: 100%;
}

.watchlist li {
    line-height: 1.5rem;
}

.watchlist .card {
    position: relative;
}

.watchlist ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap ;
    gap: 20px;
}

.watchlist .card .delete-movies {
    position: absolute;
    top: 2px;
    right: 5px;
    padding: 5px;
    background-color: black;
    border-radius: 10px;
    z-index: 0;
    cursor: pointer;
}

.watchlist .card .delete-movies > svg {
    color: red;
}

.watchlist .card .moovie-info {
    position: absolute;
    display: none;
}

.watchlist .card img {
    width: 200px;
    height: 100%;
    border-radius: 10px;
}

.watchlist .card .title {
    font-weight: bold;
}

.rating {
    display: none;
}

.watchlist .right .first-col {
    display: flex;
    align-items: center;
    gap: 10px;
}

.watchlist .right {
    display: none;
}

@media screen and (max-width: 450px) {
    .watchlist .card img {
        width: 150px;
    } 
}