.watchlist-wrapper {
    padding: 3rem 5rem;
    background-color: #f2f2f2;
}

.watchlist-wrapper h2 {
    margin-bottom: 1rem;
    margin-top: 5vh;
}

.watchlist-container {
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    min-height: 100vh;
}

.watchlist-container ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 100%;
    gap: 10px;
}

.watchlist-container .card {
    height: 250px;
    width: 100%;
    cursor: pointer;
    position: relative;
}

.watchlist-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.watchlist-container .card .delete-movies {
    position: absolute;
    top: 2px;
    left: 5px;
    padding: 4px 5px;
    background-color: black;
    border-radius: 10px;
    z-index: 0;
    cursor: pointer;
}

.watchlist-container .card .delete-movies > svg {
    color: red;
    font-size: 1.5rem;
}

.watchlist-container .empty-watchlist {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.empty-watchlist a {
    padding: 10px;
    background-color: #ffd300;
    border-radius: 10px;
    color: #333;
}

.empty-watchlist a:hover {
    background-color: #ffcc00;
}

.watchlist-container .rating {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    top: 2px;
    right: 5px;
    background-color: #333;
    color: white;
    padding: 8px;
    border-radius: 10px;
    font-weight: bold;
}
.rating > svg {
    color: #ffd250 ;
}

@media (min-width: 451px) and (max-width: 601px) {
    /* Styles à appliquer pour les résolutions d'écran entre 401px et 601px */
    .watchlist-wrapper {
        padding: 3rem 2rem;
    }
    .watchlist-container ul {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); /* Exemple de style pour la grille */
    }
  }
  

@media screen and (max-width: 450px) {
    .watchlist-wrapper {
        padding: 3rem 0.5rem;
    }
    .watchlist-container {
        padding: 10px;
    }
    .watchlist-container ul {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        gap: 10px;
    }
    .watchlist-container .empty-watchlist {
        flex-direction: column;
    }
    .watchlist-container .empty-watchlist > * {
        width: 100%;
        text-align: center;
    }
    .watchlist-container .card {
        height: 200px;
        width: 100%;
    }
}

@media (max-width: 366px) {
    .watchlist-wrapper h2 {
        margin-top: 2vh;
    }
    .watchlist-container .card {
        height: auto;
        width: 70%;
    }
    .watchlist-container ul {
        justify-items: center;
    }
}