* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: montserrat, Arial, Sans-Serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; /* for WebKit browsers */
  appearance: none;        /* for other browsers */
}
